[submodule "ai-agent-rules"]
	path = ai-agent-rules
	url = https://github.com/Baneeishaque/ai-agent-rules.git
[submodule "caopulan_notification-skill"]
	path = caopulan_notification-skill
	url = https://github.com/Baneeishaque/Notification-Skill.git
[submodule "chadboyda_agent-gtm-skills"]
	path = chadboyda_agent-gtm-skills
	url = https://github.com/Baneeishaque/agent-gtm-skills.git
[submodule "chrisvoncsefalvay_claude-d3js-skill"]
	path = chrisvoncsefalvay_claude-d3js-skill
	url = https://github.com/Baneeishaque/claude-d3js-skill.git
[submodule "cloudflare_skills"]
	path = cloudflare_skills
	url = https://github.com/Baneeishaque/skills.git
[submodule "composiohq_awesome-claude-skills"]
	path = composiohq_awesome-claude-skills
	url = https://github.com/Baneeishaque/awesome-claude-skills.git
[submodule "dotnet_skills"]
	path = dotnet_skills
	url = https://github.com/dotnet/skills.git
[submodule "dragon1086_claude-skills"]
	path = dragon1086_claude-skills
	url = https://github.com/Baneeishaque/claude-skills.git
